{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {#    <h1>Connecté : {{ licencie.getNom }} {{ licencie.getPrenom }}</h1>#}
    {#    <h1>Numéro de licence : {{ licencie.getNumLicence }}</h1>#}
    <div style="text-align: center">
        {{ form_start(form) }}
        {{ form_widget(form.email) }}
    </div>
{% endblock %}
