{{ form_start(form, {'attr': {'id': 'new_edit_utilisateur'}}) }}
{# utilisation de classes bootstrap pour la mise en forme #}
        <div class="row">
                <div class="col-12">
                        <label> Numéro de licence</label>
                        {{ form_widget(form.numLicence) }}
                </div>
                <div class="col-12">
                        {{ form_widget(form.password) }}
                </div>
        </div>
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}